@import url( './_variables.less');


.icon-blue,
.icon-blue-anime,
img[src$="blue.png"] {
    /* this makes the 'blue ball' green */
    -webkit-filter: hue-rotate(245deg);
}
img.icon-hourglass {
  content: @clock-image-16;
}

.icon-stop {
    content: @stop-build-image-16;
}
.icon-help.icon-sm {
    content: @help-image-16;
}

.icon-collapse {
  content: @collapse-image-16;
  height: 16px;
  width: 16px;
  opacity: 0.6;
}

.icon-expand {
  content: @expand-image-16;
  height: 16px;
  width: 16px;
  opacity: 0.6;
}
