@import url( './_variables.less');

#notification-bar {
  color: @text-dark;
}

.spinning-build-image {
  margin-right: 20px;
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


img.icon-yellow-anime.icon-xlg {
  .spinning-build-image();
  opacity: .8;
  content: @spinner-yellow-image-48;
}

img.icon-blue-anime.icon-xlg {
  .spinning-build-image();
  opacity: .8;
  content: @spinner-green-image-48;
}

img.icon-red-anime.icon-xlg {
  .spinning-build-image();
  opacity: .6;
  content: @spinner-red-image-48;
}
img.icon-grey-anime.icon-xlg {
  .spinning-build-image();
  opacity: .8;
  content: @spinner-grey-image-48;
}

img[src$='/16x16/warning.gif'] {
  content: @warning-image-16;
}
img[src$='/24x24/warning.gif'] {
  content: @warning-image-24;
}
img[src$='/48x48/warning.gif'] {
  content: @warning-image-48;
}

img[src$='/16x16/error.gif'] {
  content: @error-image-16;
}
img[src$='/24x24/error.gif'] {
  content: @error-image-24;
}
img[src$='/48x48/error.gif'] {
  content: @error-image-48;
}

img[src$='/16x16/accept.png'] {
  content: @success-image-16;
}
img[src$='/24x24/accept.png'] {
  content: @success-image-24;
}
img[src$='/48x48/accept.png'] {
  content: @success-image-48;
}

.warning {
    border: solid 1px darken(@background-warning, 10%);
    margin: 5px 10px;
    padding: 0 0 0 50px;
    display: block;
    background-color: @background-warning;
    background-image: @warning-image-48;
    min-height: 50px;
    vertical-align: middle;
    color: @text-dark;
    form {
        color: @text-dark;
    }
    a {
        color: @background-333;
        text-decoration: underline;
    }
}
.error {
    border: solid 1px darken(@background-error, 10%);
    margin: 5px 10px;
    padding: 0 0 0 50px;
    display: block;
    background-color: @background-error;
    color: @text-light;
    background-image: @error-image-48;
    min-height: 50px;
    vertical-align: middle;
    form {
        color: @text-light;
    }
    a {
        color: @blue;
        text-decoration: underline;
    }
}


.changeset-message {
    background-color: #444;
    border-color: @background-black;
    color: @text-light;
}
