version: 1.0.{build}
skip_tags: true
image: WMF 5
environment:
  nodejs_version: 5.11.0
install:
- ps: Install-Product node $env:nodejs_version x64
- cmd: npm install -g less
- cmd: npm install -g less-plugin-clean-css
build_script:
- cmd: lessc --lint jenkins-dark.less
- cmd: lessc jenkins-dark.less ./dist/jenkins-dark.css
- cmd: lessc --clean-css jenkins-dark.less ./dist/jenkins-dark.min.css
- ps: Compress-Archive -Path ${env:APPVEYOR_BUILD_FOLDER}/dist/*.css -DestinationPath ./dist/${env:APPVEYOR_PROJECT_NAME}-${env:APPVEYOR_BUILD_VERSION}.zip
artifacts:
- path: dist/jenkins-dark.css
  name: css
- path: dist/*.zip
  name: zip
deploy:
- provider: GitHub
  tag: $(APPVEYOR_PROJECT_NAME)-$(APPVEYOR_BUILD_VERSION)
  release: $(APPVEYOR_PROJECT_NAME)-$(APPVEYOR_BUILD_VERSION)
  auth_token:
    secure: Es5XTlIJiCiCFJHGDOA09AGFVZQL0jIWtUuPp4+m7MBcfeoVGbWQP2jYU3oSL5bw
  artifact: zip
  draft: false
  force_update: true
  on:
    branch: master
